::selection {
    background: #f7d07e;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    font-size: 13pt;
    font-family: monospace;
    color: white;
    background-color: black;
}
#container {
    padding: .1em 1.5em 1em 1em;
    margin-left: 50px;
    margin-right: 135px;
}
#cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
}
#output {
    clear: both;
    width: 100%;
}
#prompt {
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.prompt-color {
    color: #e09f14;
}
.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}
.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#githubImg img {
    position: fixed;
    bottom: 0; right: 0;
    border: 0;
}

/* SIDE NAV */

#sidenavBtn {
    position: absolute !important;
    padding: 2px !important; 
    top: 0 !important;
    right: 7px !important;
    font-size: 35px !important;
}

#sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #e09f14;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
#sidenav img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    transition: 0.3s;
    opacity: 0;
}

#sidenav img:focus {
    outline: none;
}

#sidenav button {
    padding: 8px 8px 8px 32px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15pt;
    color: white;
    display: block;
    transition: 0.3s;
    background:none !important;
    border:none;
}
#sidenav button:hover {
    color: #442e00;
}

@media screen and (max-height: 450px) {
    body {
        font-size: 11pt;
    }
    #sidenav {
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
}

@media screen and (max-width: 900px) {
    #githubImg img {
        transform: translateX(900px);
    }

    #container {
        margin-right: 0;
    }
}